@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* Primary Colors */
:root {
  --primary-strong-cyan: hsl(172, 67%, 45%);
}

/* Neutral Colors */
:root {
  --neutral-very-dark-cyan: hsl(183, 100%, 15%);
  --neutral-dark-grayish-cyan: hsl(186, 14%, 43%);
  --neutral-grayish-cyan: hsl(184, 14%, 56%);
  --neutral-light-grayish-cyan: hsl(185, 41%, 84%);
  --neutral-very-light-grayish-cyan: hsl(189, 41%, 97%);
  --neutral-white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}

.tip-calculator {
  background-color: var(--neutral-light-grayish-cyan);
  height: 100vh;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.heading {
  color: var(--neutral-very-dark-cyan);
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 5px;
  margin-bottom: 40px;
}
.heading p {
  margin: 5px 0;
}

.main-calculator-container {
  width: 850px;
  background-color: var(--neutral-white);
  height: 400px;
  border-radius: 30px;
  position: relative;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  padding: 30px;
}

.main-calculator-container > div {
  width: 48%;
}
.left-container {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.input-box {
  width: 100%;
}
.input-box > p,
.people-input > p,
.select-tip-container > p {
  font-size: 16px;
  font-weight: 700;
  color: var(--neutral-dark-grayish-cyan);
  margin-bottom: 5px;
}

.bill-input-box {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 5px 10px;
  background-color: var(--neutral-very-light-grayish-cyan);
  border-radius: 5px;
  border: 2px solid transparent;
  transition: 0.1s linear;
}
.bill-input-box img {
  height: 30px;
  padding: 6px;
}
.bill-input-box > input {
  height: 30px;
  width: 100%;
  background-color: transparent;
  text-align: right;
  border: none;
  outline: none;
  font-size: 22px;
  color: var(--neutral-very-dark-cyan);
  font-weight: 700;
}
.bill-input-box > input::placeholder {
  color: var(--neutral-grayish-cyan);
}
.bill-input-box:hover {
  border: 2px solid var(--primary-strong-cyan);
}
.bill-input-box:focus-within {
  border: 2px solid var(--primary-strong-cyan);
}

.stc-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 10px;
}

.stc-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.stc-container button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: var(--neutral-very-dark-cyan);
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 5px;
}
.stc-container button.active {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: var(--primary-strong-cyan);
  color: var(--neutral-very-dark-cyan);
  font-size: 22px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 5px;
}
.stc-container input[type="text"] {
  width: 100%;
  padding: 0 10px;
  border: 2px solid var(--primary-strong-cyan);
  outline: none;
  background-color: #fff;
  text-align: right;
  font-size: 22px;
  color: var(--neutral-very-dark-cyan);
  font-weight: 700;
  border-radius: 5px;
}
.stc-container button:last-child {
  background-color: var(--neutral-very-light-grayish-cyan);
  color: var(--neutral-grayish-cyan);
}

.stc-container button:hover {
  background-color: var(--primary-strong-cyan);
  color: var(--neutral-very-dark-cyan);
}

.stc-container input[type="text"].active {
  display: block; /* Show the input field when active */
}

.main-calculator-container > div:nth-child(2) {
  background-color: var(--neutral-very-dark-cyan);
  border-radius: 15px;
}

/* right container */
.right-container {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.tip-per-person {
  margin-bottom: 30px;
}
.tip-per-person,
.total-per-person {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tip-per-person .label > p:nth-child(1),
.total-per-person .label > p:nth-child(1) {
  color: #fff;
  font-weight: 700;
}
.tip-per-person .label > p:nth-child(2),
.total-per-person .label > p:nth-child(2) {
  color: var(--neutral-light-grayish-cyan);
  font-size: 13px;
}

.tip-per-person .amount > p,
.total-per-person .amount > p {
  font-size: 2.5rem;
  color: var(--primary-strong-cyan);
  font-weight: 700;
}

.right-container > button {
  padding: 8px;
  border-radius: 5px;
  font-size: 20px;
  background-color: var(--primary-strong-cyan);
  color: var(--neutral-very-dark-cyan);
  border: none;
  outline: none;
  font-weight: 700;
  cursor: pointer;
  transition: 0.1s linear;
}
.right-container > button:hover {
  background-color: hsl(172, 78%, 55%);
}
.right-container > button:disabled,
.right-container > button[disabled] {
  background-color: hsl(183, 94%, 20%);
  cursor: not-allowed;
}
